# Remember to set these in Vercel or your hosting provider's environment variables settings.

DISCORD_PUBLIC_KEY=
DISCORD_APP_ID=
DISCORD_BOT_TOKEN=

# Color role IDs for the color picker.
RED_ROLE=
ORANGE_ROLE=
YELLOW_ROLE=
GREEN_ROLE=
BLUE_ROLE=
PURPLE_ROLE=
MAGENTA_ROLE=
CYAN_ROLE=
PINK_ROLE=
LAVENDER_ROLE=
BLACK_ROLE=
WHITE_ROLE=
GREY_ROLE=
