# Remember to set these in Vercel or your hosting provider's environment variables settings.

DISCORD_PUBLIC_KEY=
DISCORD_APP_ID=
DISCORD_BOT_TOKEN=

# Color role IDs for the color picker.
RED_ROLE=
ORANGE_ROLE=
YELLOW_ROLE=
GREEN_ROLE=
BLUE_ROLE=
PURPLE_ROLE=
MAGENTA_ROLE=
CYAN_ROLE=
PINK_ROLE=
LAVENDER_ROLE=
BLACK_ROLE=
WHITE_ROLE=
GREY_ROLE=

# Game role IDs for pings.
ROBLOX_ROLE=
MINECRAFT_ROLE=
AMONG_US_ROLE=
MECCHA_CHAMELEON_ROLE=
BUCKSHOT_ROULETTE_ROLE=
DEAD_BY_DAYLIGHT_ROLE=
PHASMOPHOBIA_ROLE=
REPO_ROLE=
TERRARIA_ROLE=
STARDEW_VALLEY_ROLE=
VALORANT_ROLE=
OVERWATCH_ROLE=
APEX_LEGENDS_ROLE=
FORTNITE_ROLE=
LETHAL_COMPANY_ROLE=